<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Seedling Detection</title>
    <style>
        h1{
            text-align: center;
        }
        label, .submitt {
            background-color: indigo;
            color: white;
            padding: 0.5rem;
            font-family: sans-serif;
            border-radius: 0.3rem;
            cursor: pointer;
            margin-top: 1rem;
            margin: 0 auto;
          }
        .divvv{
            margin: auto;
            width: 10%;
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <h1 id="heading">Plant Seedling Detection</h1>
    <img src="./" alt="" id="img">
    <form action="fileupload" method="post" enctype="multipart/form-data">
        <div class="divvv">
            <input type="file" name="filetoupload" id="actual-btn" accept="image/*" hidden><br>
            <label for="actual-btn">Upload</label>
            <input type="submit" class="submitt" placeholder="submit">
        </div>
    </form>

    <script>
        let file = document.getElementById("actual-btn")
        file.onchange = function(e) {
            let filee = e.target.files[0]
            let img = document.getElementById("img")
            let reader = new FileReader()
            reader.onloadend = function() {
                img.src = reader.result
            }
            reader.readAsDataURL(filee)
        }
    </script>
</body>
</html>