<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Seedling Detection</title>
    <style>
        h1{
            text-align: center;
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h2{
            text-align: center;
        }
        a{
            display: block;
            text-align: center;
            font-size: large;
            font-weight: bolder;
            color: black;
        }
    </style>
</head>
<body>
    <h1>Plant Seedling Detection</h1>
    <img src="../test.png">
    <h2> <%= species %> </h2>
    <a href="./">Detect Another</a>
</body>
</html>